<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        body{
            background-color:darkslateblue;
            color: aliceblue;
        }
        .main marquee{
            background-color: black;
            color: white;
        }
        .body {
            text-align: center;
            border:1px solid white
        }
        .body h2{
            color: #ff4081;
        }

    </style>
   

    </style>
</head>
<body>
   
      <h1 class="main"><marquee>WELCOME</marquee></h1>
      <div class="body">
        
        <h2>About me and my project</h2>
        <p>This project is based on registration Form</p>

      </div>
     
  

</body>
</html>