<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
          h2{
              color: brown;
          }

          body{
              border: 1px solid black;
              text-align: center;
              background-color: azure;
          }

          .head{
              border: 1px solid black;
          }

           .reg{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.reg:hover {
  opacity: 0.8;
}
          
    </style>
      
   
</head>
<body>
           
       <h2>SignUp</h2>
       <form action="/signup" method="post">

        <input type="text" name="name" placeholder="Name"><br>

        <input type="password" name="password" placeholder="Password"><br>
       
        <input type="submit" class="reg" ><br><br><br>
         
       

       </form>



    
</body>
</html>